<footer class="shadow bg-zinc-900 text-white py-12">
    <div class="default-container px-6 mb-8">

        <p class="mb-4 text-2xl"><span class="font-medium">AVIV</span> <span class="font-extralight">STUDIO</span></p>

        <div class="grid md:grid-cols-3 mb-8">
            <div>
                <p class="text-neutral-100 font-light">
                    AVIV Co.,Ltd.<br />
                    15 อาคาร33 สเปซ อาคาร 15 ชั้น 6 เอ ห้อง 604 ซอยประดิพัทธ์ 17 ถนนประดิพัทธ์ แขวงพญาไท เขตพญาไท กรุงเทพมหานคร 10400<br />
                    Email: <a href="mailto:{{ contacts.email }}" class="font-medium">{{ contacts.email }}</a><br />
                    Phone: {% for number in contacts.phones %}<a href="tel:{{ number }}">{{ number }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
                </p>
            </div>
        </div>
        <div class="mb-6">
            <a href="{{ contacts.instagram}}" class="inline-block pr-4">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="{{ contacts.facebook }}" class="inline-block pr-4">
                <i class="fab fa-facebook-square"></i>
            </a>
        </div>
        <div class="flex flex-col md:flex-row">
            {% for item in collections.all | eleventyNavigation %}
                <a href="{{ item.url }}" class="inline-flex mb-4 items-center pr-6 font-light text-white hover:text-primary-600 transition">{{ item.key | upper }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="text-center">© Copyright 2024 - AVIV Co.,Ltd.</div>
</footer>