---
  layout: layouts/base.njk
  pagination:
    data: collections.projectCategories
    size: 1
    alias: category
    addAllPagesToCollections: true
  override:tags: []
  permalink: "/projects/{{ category | slugify }}/index.html"
  eleventyComputed:
    eleventyNavigation:
      key: "{{ category }}"
      parent: Portfolio
---

<div class="default-container py-12 px-6">
  
  <p class="text-neutral-700 font-medium text-sm">OUR WORKS</p>
  <h1 class="mb-12 font-medium text-primary-800 font-mono">{{ category | upper }}</h1>

  <ul class="grid md:grid-cols-3 gap-6">
    {% for project in collections.projects | head(3) %}
      {% if (project.data.category | slugify) == (category | slugify) %}
        <li class="relative cursor-pointer group">
          <div class="max-h-[190px] overflow-y-hidden flex items-center mb-4">
            {% image "../" + project.data.thumbnail, "something", "600px, 2000px" %}
          </div>
          <a href="{{ project.url }}" class="text-xl font-light stretched-link group-hover:underline">{{ project.data.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
