---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
<div class="bg-[url('/img/home-hero.webp')] bg-cover bg-center">
  <div class="relative isolate px-6 pt-14 lg:px-8 bg-gray-900/30">
    <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
      <div class="text-center">
        <h1 class="text-5xl font-bold tracking-tight text-gray-900 sm:text-6xl"><span class="font-medium text-white">AVIV</span><span class="font-extralight text-white">STUDIO</span></h1>
        <p class="font-thin text-2xl text-white">Design to elevate</p>
        <p class="mt-6 text-lg leading-8 text-gray-600"></p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="/contact-us" class="btn-primary-lg">GET AN ESTIMATE</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="default-container py-12 px-6">
  
  <h1 class="mb-12 font-medium font-mono text-primary-800 tracking-wider">OUR WORKS</h1>

  <ul class="grid md:grid-cols-3 gap-6">
    {% for project in collections.projects | head(3) %}
      <li class="relative cursor-pointer group">
        <div class="max-h-[300px] overflow-y-hidden flex items-center mb-4">
          {% image "projects/" + project.data.thumbnail, "something", "600px, 2000px" %}
        </div>
        <p class="text-neutral-400">{{ project.data.category }}</p>
        <a href="{{ project.url }}" class="text-xl font-light stretched-link group-hover:underline">{{ project.data.title }}</a>
      </li>
    {% endfor %}
  </ul>

</div>

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
