---
    layout: layouts/base.njk
---
{% if banner_image %}
    <div class="max-w-full overflow-hidden max-h-[600px] flex items-center">
        {% image banner_image, title %}
    </div>
{% endif %}

<div class="max-w-4xl py-12 px-6 mx-auto">


    <p class="text-neutral-700 font-medium text-sm">OUR WORKS / {{ category | upper }}</p>
    <h1 class="mb-12 font-medium text-primary-800 font-mono">{{ title | upper }}</h1>

    <div class="prose max-w-none prose-strong:text-primary-800 marker:text-primary-800 prose-lg">
        {{ content | safe }}
    </div>
</div>

<div class="default-container grid grid-cols-2 md:grid-cols-3 gap-4 auto-cols-auto">
{% for image in images %}
  {% set imageDetails = image.image | imageSize %}
    {% set isPortrait = imageDetails.height > imageDetails.width %}
    <div class="{% if isPortrait %}row-span-2{% endif %} relative flex items-stretch [&_picture>img]:h-full [&_picture>img]:object-cover hover:-translate-y-2 transition cursor-pointer">
        {% image image.image, image.alt, "600px" %}
        <a href="/projects/{{ image.image }}" class="stretched-link"></a>
    </div>

    {# <a href="/projects/{{ image.image }}">
    {% image image.image, image.alt, "600px, 1200px", "640px" %} #}
    {# </a> #}
{% endfor %}
</div>

<div class="default-container py-12 px-6">
  
  <h1 class="mb-12 font-medium text-primary-800 font-mono">OTHER PROJECTS</h1>

  <ul class="grid md:grid-cols-3 gap-6">
    {% for project in collections.projects | head(3) %}
      {% if project.data.title != title %}
        <li class="relative cursor-pointer group">
          <div class="max-h-[190px] overflow-y-hidden flex items-center mb-4">
            {% image project.data.thumbnail, "something", "600px, 2000px" %}
          </div>
          <a href="{{ project.url }}" class="text-xl font-light stretched-link group-hover:underline">{{ project.data.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
