---
    title: Porfolio
    layout: layouts/base.njk
    eleventyNavigation:
        key: Portfolio
        order: 5
    permalink: /projects/
    override:tags: []
---

<div class="default-container py-12 px-6">
  
  <h1 class="mb-12 font-medium">OUR WORKS</h1>

  <ul class="grid md:grid-cols-3 gap-6">
    {% for project in collections.projects | head(3) %}
      <li class="relative cursor-pointer group">
        <div class="max-h-[300px] overflow-y-hidden flex items-center mb-4">
          {% image project.data.thumbnail, "something", "600px, 2000px" %}
        </div>
        <a href="{{ project.url }}" class="text-xl font-light stretched-link group-hover:underline">{{ project.data.title }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
